@import "~src/scss/variables";

.aside {
  padding-bottom: 200px;
  overflow: hidden;

  .recipes_list {

    p {
      font-size: 1.6rem;
      font-weight: $header_font;
      margin-left: 3rem;
      margin-bottom: 4rem;
    }

    ul {
      padding: 0 1rem;
      list-style-type: none;
      width: auto;

      li {
        font-weight: $header_font;
        line-height: 1;
        font-size: 1.1rem;
        width: 70%;
        padding: .2rem;

        a {
          text-decoration: none;
          color: black;

          &:hover {
            color:rgb(80, 80, 80)
          }
        }
      }
    }
  }
}
