@import "~src/scss/variables";


.form-group {
  i {
    margin-left: 10px;
  }

  .search {
  //  border-radius: 2rem;
    margin: 1.5rem 1rem 2rem 3rem;
    padding: .3rem 2rem;
    width: 30%;
    border: none;
    border-bottom: solid 1px black;
    outline: none;
   // background-color: rgb(245, 245, 245);

    
  }
  input:focus {
    font-weight: $header_font_middle;
    font-size: 1rem;
  }
}

.recipes_found{
font-weight: $header_font;
font-size: 1.6rem;
margin-left: 3rem;
}
  
ul {
  
  li { 
    list-style-type: none;
  }

  .recipe_name {
    margin-left: $margin_name_recipe;
    color: rgb(235, 133, 50);
    font-weight: 600;
    font-size: 1.5rem;
    font-style: italic;
  }

  .ingredients_name {
    margin-left: $margin_ingredients_name;
    font-weight: $header_font;
    font-size: 1.2rem;
  }

  .ingredients {
  }

  .steps_name {
    margin-left: $margin_ingredients_name;
    font-weight: 600;
    font-size: 1.2rem;
  }

  .steps{
    text-align: justify;
    padding: 0 1rem;
  }
}

