$root_font_size: 16px;
$header_font_color: rgb(255, 255, 255);
$color_primary:rgb(30, 152, 209);
$line_height: 1.4;
$line_height_aside: 1.8;
$margin_name_recipe: 2rem;
$margin_ingredients_name:1rem;


