@import "~src/scss/variables";

#header{
  height: 55%;

  .row{
    height: 100%;
    
  
    .imageHeader {
      width: 100%;
      height: 100%;
      background: url("../../../../assets/images/cook11.jpg") no-repeat center;
      background-size: cover;
      overflow: auto;
      
  
      h1 {
        color: $header_font_color;
        position: absolute;
        margin-left: 15%;
        margin-top: 7%;
        font-weight: bold;
      }
  
      h5 {
        color: $header_font_color;
        position: absolute;
        margin-left: 18%;
        margin-top: 12%;
        font-weight: $header_font_middle;
        font-style: italic;
      }
    }
  }   
}

  

